extends layout

block content
  h1 Bitely
  p.lead A better way to search for your recipes.
  hr
  
  .well
    h4 Search for a Recipe: Type in the Main Ingredient (Meat, Poultry, Vegetables, etc)
    form(role='form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        input.form-control(type='text', name='tweet', autofocus)
        p.help-block YAY!
      button.btn.btn-primary(type='submit')
        i.fa.fa-twitter
        |  Tweet